@use '../../styles/colors.module.scss';
@use '../../styles/mixins.scss';

.toolbar {
    display: flex;
    flex-direction: row;
    background-color: colors.$color-background-dark;
    color: colors.$color-font-light;
    justify-content: space-between;
    padding: 0.5rem;
    font-size: small;

    @include mixins.medium-screen{
        font-size: large;
    }

}

.productTitle {
    margin: 0 0.5rem;
}