@use '../../styles/colors.module.scss';

.banner {
    color: colors.$color-font-light;
    background-color: colors.$color-background-dark;
    box-shadow: 5px 5px 50px colors.$color-background-dark;
}

.productTitle {
    // color: colors.$color-primary-lighter;
    margin-left: 1rem;
}